.hero2__title {

    text-align: center;
    margin-top: 30vh;
    font-size: 31px;

}

.hero2__title2 {

    text-align: center;

}

.container3 {

    height: 50%;
    gap: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*margin-left: 20px;*/
    margin-top: 5%;
    flex-wrap: wrap;
}


.card__inner {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}
.card {
    width: 300px;
    height: 450px;;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 0 0 65px #E5E9F666;
    display: flex;
    flex-direction: column;
    overflow: hidden;


}

.card__photo {
    width: 100%;
    height: 40%;
    object-fit: cover;

}
.card__text{
    margin-top:5px;
}


.card__text p {
    color: #7D7987;
}

#vector {
    position: absolute;
    z-index: -1;
    right: 0;
    height: 60%;
    margin-top: -35%;
}

.card__button {
    background: transparent;
    color: #458FF6;
    width: 100px;
    height: 45px;
    margin-top: 40px;
}

.card__button img{
    animation: floating1 3s linear infinite;
}

.card__button2 {

    display: flex;
    justify-content: center;
    transition: background-color 0.5s ease, color 0.5s ease;

}
.card__button3:hover{
    background-color: #5A98F2;
    color: #ffffff;
}

.card__button3 {
    background: transparent;
    border-radius: 40px;
    color: #458FF6;
    width: 200px;
    height: 56px;
    border: 3px solid #458FF6;
    margin: 5%;
    font-weight: bold;

}


@media screen and (max-width: 1050px){
    .container3{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container2{
        margin-top: -100px;
        padding: 10px;
    }

    .card{
        display: flex;
        align-items: center
    }
    #vector{
        display: none;
    }
    .card__button2{
        padding : 10px;
    }
}