body {
    font-family: " Roboto", sans-serif;
    color: black;
    margin:0;
}


.container {
    margin: 0 auto;
    max-width: 1050px;
}

a {
    text-decoration: none;
    color: #1F1534;
}

li {
    display: inline;
}

.default-button {
    background: transparent;
    border-radius: 40px;
    color: #458FF6;
    width: 200px;
    height: 56px;
    border: 2px solid #458FF6;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__buttons{
    display: flex;
}
.hero__buttons img{
    width: 9px;
    height: 12px;
    margin-left: 17px;
}

button {
    border: 0;
}

@media screen and (max-width: 1050px){
    body{
        text-align: center;



    }
}

@media screen  and (max-width: 1050px){
    :root{
        /*font-size: 112px;*/
    }

}




