.header__nav ul {
    display: flex;
    flex-direction: row;
}

.header__nav-item {
    margin-right: 30px;
    color: #7D7987;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url("../photos/logo.png");
    background-repeat: no-repeat;
    margin-top: 26px;
    background-position: right 23px top;
    height: 4rem;
}


.header__title {
    font-weight: 150;
    font-size: 24px;
}

.header__menu {
    display: none;
    width: 32px;
    cursor: pointer;
}


.header__menu > img {
    max-width: 100%;
}

.header__menu-icon {
    width: 20px;
}

.hidden-block {
    display: none;
}

.visibility-block {
    display: block;
}

@media screen and (max-width: 700px) {

    .header {
        padding: 20px;
        background-position: right 20px top 10px;
        margin-top: 0;
    }


    .header__menu {
        display: block;

    }

    .header__menu img {
        height: 20px;

    }

    nav {
        display: none;
    }

    .burger-menu.open {
        clip-path: circle(1000px at top);
    }

    .header-menu ul {
        flex-direction: column;
        height: 100%;

    }

}


.header__menu {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    width: 5%;

}

.header__menu ul {
    display: flex;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;;

}



.header__menu img {
    display: none;
}

@media screen and (max-width: 700px) {
    .header__menu ul {
        display: none;
        font-size: 2rem;
        height: 80vh;
        gap: 2rem;
        flex-direction: column;

        justify-content: center;
        margin-left: 70px;
        margin-top: 50px;
    }

    .header__menu img {
        max-width: 100%;
        display: inline;
    }

    .header {
        height: initial;
        display: flex;
        text-align: center;

    }
}