.hero {
    background-image: url("../photos/trafalgar-1.png");
    background-repeat: no-repeat;
    background-position: right 23px top  ;
    /*background:url("../photos/trafalgar.png") no-repeat right 23px top*/
    margin-top: 20vh;
    height: 434px;


}




.hero__title {
    font-size: 31px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 2px;
    color: #000;




}

.hero__paragraph {
    font-size: 16px;
    line-height: 30px;
    color: #7D7987;

}

.hero__buttons {
    margin-top: 5vh;
}

@media screen  and (max-width:1050px) {
    .hero {
        padding: 10px;
        text-align: center;
        background-image: none ;
    }
    .hero__title{
        text-align: center;
    }
    .hero__title2{
        font-size: 50px;
        margin: 20px;
        margin-top: -25px;
    }

    .hero__buttons{
        justify-content: center;
    }
    .hero__paragraph{

    }
    .hero__inner br{
        display: none;
    }
}


